/* write your override styles here */

#wall .tag-1 {
  display: none;
}

#wall .tag-1 + #tag-2 {
  display: none;
}

/** This selects a div with an ID of wall,
that is the parent of an element with the id of tag-3
that also has the class of slick
that also has the class of wicked **/
div#wall #tag-3.slick.wicked{
  display: none;
}

#wall #tag-4 {
  display: none;
}
